


<div class="container p-t-md">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default panel-profile m-b-md">
        <div class="panel-body text-center">
          <%= link_to image_tag("oc-magnet.png", 
                                :alt => "Over Coffee with Rev. Dave Thompson",
                                :class => "panel-profile-img",
                                :style => "-ms-transform: rotate(7deg); -webkit-transform: rotate(7deg); transform: rotate(7deg);"),
              root_path %>

          <h5 class="panel-title">
            Welcome<br>
          </h5>

          <p class="m-b-md">Over Coffee is a (roughly) 30-minute weekly Sunday morning web series where Rev. Dave Thompson listens to the <strong>spiritual stories of everyday people</strong>.</p>

          <%= link_to button_tag("About the Show", :type => "button", :class => "btn btn-primary-outline btn-sm"), :controller => "about" %>
        </div>
      </div>
      <p>&nbsp;</p>


    </div>

    <div class="col-md-6">
      <ul class="list-group media-list media-list-stream">


        <li class="media list-group-item p-a">
        <%= link_to image_tag("this_sunday-magnet.png", 
                              :alt => "This Sunday 8am",
                              :class => "panel-profile-img center-block",
                              :style => "-ms-transform: rotate(-17deg); -webkit-transform: rotate(-17deg); transform: rotate(-17deg);"),
            "http://overcoffee.tv" %>
          <a class="media-left" href="#">
            <span class="icon icon-youtube"></span>
          </a>
          <div class="media-body">
            <div class="media-heading">
              <small class="pull-right text-muted">Sunday Feb 28, 2016</small>
              <h5>Bruno Sabatier's Spiritual Story</h5>
              <h6>City Councilmember, City of Clearlake, CA</h6>
            </div>

            <p><iframe width="80%" src="https://www.youtube.com/embed/hzs_o4fRflo" frameborder="0" allowfullscreen class="center-block"></iframe></p>
            <p>
              
              <strong>Spiritual Tags</strong>
              <%= link_to button_tag("Agnostic", :type => "button", :title => "Christian", :class => "btn btn-primary-outline btn-sm"), :controller => "home" %>
              <%= link_to button_tag("Spiritual", :type => "button", :title => "Spiritual", :class => "btn btn-primary-outline btn-sm"), :controller => "home" %>
            </p>
            <p>
              Bruno shares about his childhood in France, his early exploration into spirituality, and his discovery that his children would become one of the most influencing spiritual aspects of his life.
            </p>

          </div>
        </li>
      </ul>

      
      <ul class="list-group media-list media-list-stream">


        <li class="media list-group-item p-a">
        <%= link_to image_tag("last-sunday-magnet.png", 
                              :alt => "Last Sunday 8am",
                              :class => "panel-profile-img center-block",
                              :style => "-ms-transform: rotate(17deg); -webkit-transform: rotate(17deg); transform: rotate(17deg);"),
            "http://overcoffee.tv" %>
          <a class="media-left" href="#">
            <span class="icon icon-youtube"></span>
          </a>
          <div class="media-body">
            <div class="media-heading">
              <small class="pull-right text-muted">Sunday Feb 14, 2016</small>
              <h5>Linda Laing's Spiritual Story</h5>
              <h6>Director of Bereavement for Hospice</h6>
            </div>

            <p><iframe width="80%" src="https://www.youtube.com/embed/bFlReAvFhGY" frameborder="0" allowfullscreen class="center-block"></iframe></p>
            <p>
              
              <strong>Spiritual Tags</strong>
              <%= link_to button_tag("Christian", :type => "button", :title => "Christian", :class => "btn btn-primary-outline btn-sm"), :controller => "home" %>
              <%= link_to button_tag("Spiritual", :type => "button", :title => "Spiritual", :class => "btn btn-primary-outline btn-sm"), :controller => "home" %>
            </p>
            <p>
              Linda Laing, Director of Bereavement for Hospice Services of Lake County, shares about her childhood in Pennsylvania and early church experience. Her story leads us to Lake County, CA.
            </p>

          </div>
        </li>
      </ul>
      
      <ul class="list-group media-list media-list-stream">

        <li class="media list-group-item p-a">
          <%= link_to image_tag("previous-episodes-magnet.png", 
                                :alt => "Previous Episodes",
                                :class => "panel-profile-img center-block",
                              :style => "-ms-transform: rotate(-4deg); -webkit-transform: rotate(-4deg); transform: rotate(-4deg);"),
              "http://www.youtube.com/c/OvercoffeeTv", :target => "_blank" %>
          <div class="media-body">
            <div class="media-heading text-center">

              <p><strong>For more episodes, visit our</strong></p>
              <p><a href="http://www.youtube.com/c/OvercoffeeTv" target="_blank"><span class="icon icon-youtube"></span> YouTube Channel (OverCoffeeTv)</a></p>

            </div>
          </div>
        </li>

      </ul>
      
    </div>

    <div class="col-md-3">

      <div class="panel panel-default panel-profile m-b-md">
        <div class="panel-body text-center">
          <%= link_to image_tag("dave-magnet.png", 
                                  :alt => "Over Coffee with Rev. Dave Thompson", 
                                  :style => "-ms-transform: rotate(1deg); -webkit-transform: rotate(1deg); transform: rotate(1deg);",
                                  :class => "panel-profile-img center-block"),
                                "http://about.me/revdavethompson",
                                :target => "_blank" %>

          <h5 class="panel-title">
            <a class="text-inherit" href="profile/index.html">Rev. Dave Thompson</a>
          </h5>

          <ul class="list-unstyled list-spaced text-center">
              <li><span class="text-muted icon icon-calendar"></span> Make an <a href="https://www.calendly.com/revdave" target="_blank" title="Rev Dave's Calendar">Appointment</a></li>
              <li><span class="text-muted icon icon-facebook"></span> Connect on <a href="https://www.facebook.com/davethompsonpage" target="_blank" title="Rev Dave's Facebook">Facebook</a></li>
              <li><span class="text-muted icon icon-twitter"></span> Connect on <a href="http://twitter.com/revdavethompson" target="_blank" title="Rev Dave's Twitter">Twitter</a></li>
              <li><span class="text-muted icon icon-google-play"></span> Songs on <a href="https://play.google.com/store/music/album/D_a_Thompson_Disclaimer?id=Bkjlgjpday6f4k5cu6sehs6pkye" target="_blank" title="Rev Dave's Music">iTunes</a></li>
              <li><span class="text-muted icon icon-book"></span> Books on <a href="http://www.amazon.com/Over-Coffee-Conversation-Partnership-Conservative/dp/0983567735/ref=sr_1_1?ie=UTF8&qid=1441824909&sr=8-1&keywords=over+coffee" target="_blank" title="Rev Dave's Books on Amazon">Amazon</a></li>
              <li><span class="text-muted icon icon-github"></span> Software on <a href="https://github.com/worlduniting/" target="_blank" title="Rev Dave's Github">Github</a></li>
          </ul>

          <%= link_to button_tag("About Rev. Dave", :type => "button", :class => "btn btn-primary-outline btn-sm"), "http://revdavethompson.com", :target => "_blank" %>
        </div>

      </div>
      <p>&nbsp;</p>

      <div class="panel panel-default panel-link-list">
      <%= link_to image_tag("world-uniting-magnet.png", 
                              :alt => "World Uniting, Intl'", 
                              :style => "-ms-transform: rotate(-7deg); -webkit-transform: rotate(-7deg); transform: rotate(-7deg);",
                              :class => "panel-profile-img center-block"),
                            "http://worlduniting.org",
                            :target => "_blank" %>
        <div class="panel-body">
          
          © 2015 <a href="http://worlduniting.org" target="_blank">World Uniting, Intl'</a>

          <p>World Uniting’s mission is to promote peace by providing programs that facilitate empathy in order to learn how to love others whose world views may fundamentally conflict with our own.</p>
        </div>
      </div>

    </div>
  </div>
</div>

