


<div class="container p-t-md">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default panel-profile m-b-md">
        <div class="panel-body text-center">
          <%= link_to image_tag("oc_logo_200px.png", 
                                :alt => "Over Coffee with Rev. Dave Thompson",
                                :class => "panel-profile-img"),
              root_path %>

          <h5 class="panel-title">
            <%= link_to("Over Coffee", :controller => "about", :class => "text-inherit") %>
          </h5>

          <p class="m-b-md">A (roughly) 30-minute weekly Sunday morning web series where <a href="http://about.me/revdavethompson" target="_blank">Rev. Dave Thompson</a> listens to the <strong>spiritual stories of everyday people</strong>.</p>

          <%= link_to button_tag("About the Show", :type => "button", :class => "btn btn-primary-outline btn-sm"), :controller => "about" %>
        </div>
      </div>
      <p>&nbsp;</p>


    </div>

    <div class="col-md-6">
      <ul class="list-group media-list media-list-stream">


        <li class="media list-group-item p-a">
        <%= link_to image_tag("this_sunday.png", 
                              :alt => "This Sunday 8am",
                              :class => "panel-profile-img center-block"),
            "http://overcoffee.tv" %>
          <a class="media-left" href="#">
            <span class="icon icon-youtube"></span>
          </a>
          <div class="media-body">
            <div class="media-heading">
              <small class="pull-right text-muted">Sunday Jan 2, 2016</small>
              <h5>Siri Nelson</h5>
              <h6>A Hospital Chief Administrative Officer</h6>
            </div>

            <p><iframe width="346" height="195" src="https://www.youtube.com/embed/85sBym6kJaU" frameborder="0" allowfullscreen></iframe></p>
            <p>
              
              <strong>Spiritual Tags</strong>
              <button type="button" class="btn btn-xs btn-pill btn-primary">Spiritual</button>
            </p>
            <p>
              Siri tells about growing up in a non-religious household and how she handled the difficult challenges of life.
            </p>

          </div>
        </li>
      </ul>

      
      <ul class="list-group media-list media-list-stream">


        <li class="media list-group-item p-a">
        <%= link_to image_tag("last-sunday-magnet.png", 
                              :alt => "Last Sunday Episode",
                              :class => "panel-profile-img center-block"),
            "http://about.me/revdavethompson" %>
          <a class="media-left" href="#">
            <span class="icon icon-youtube"></span>
          </a>
          <div class="media-body">
            <div class="media-heading">
              <small class="pull-right text-muted">Sunday Dec 20, 2015</small>
              <h5>Aqeela MarKowski</h5>
              <h6>A Muslim and a Talk Show Host</h6>
            </div>

            <p><iframe width="346" height="195" src="https://www.youtube.com/embed/f2_RsDWmOvw" frameborder="0" allowfullscreen></iframe></p>
            <p>
              <strong>Spiritual Tags</strong>
              <button type="button" class="btn btn-xs btn-pill btn-primary">Muslim</button>
              <button type="button" class="btn btn-xs btn-pill btn-primary">Christian</button>
            </p>
            <p>
              Aqeela shares about her early Christian roots and her eventual journey into the Muslim faith.
            </p>
          </div>
        </li>
      </ul>
      <ul class="list-group media-list media-list-stream">

        <li class="media list-group-item p-a">
          <%= link_to image_tag("previous-episodes-magnet.png", 
                                :alt => "Previous Episodes",
                                :class => "panel-profile-img center-block"),
              "http://www.youtube.com/c/OvercoffeeTv", :target => "_blank" %>
          <div class="media-body">
            <div class="media-heading text-center">

              <p><strong>For more episodes, visit our</strong></p>
              <p><a href="http://www.youtube.com/c/OvercoffeeTv" target="_blank"><span class="icon icon-youtube"></span> YouTube Channel (OverCoffeeTv)</a></p>

            </div>
          </div>
        </li>

      </ul>
      
    </div>

    <div class="col-md-3">

      <div class="panel panel-default panel-profile m-b-md">
        <div class="panel-body text-center">
          <%= link_to image_tag("dave_circle_headpic.jpg", 
                                :alt => "Over Coffee with Rev. Dave Thompson",
                                :class => "panel-profile-img"),
              "http://about.me/revdavethompson" %>

          <h5 class="panel-title">
            <a class="text-inherit" href="profile/index.html">Rev. Dave Thompson</a>
          </h5>

          <ul class="list-unstyled list-spaced text-left">
              <li><span class="text-muted icon icon-calendar m-r"></span> Make an <a href="https://www.calendly.com/revdave" target="_blank" title="Rev Dave's Calendar">Appointment</a></li>
              <li><span class="text-muted icon icon-facebook m-r"></span> Connect on <a href="https://www.facebook.com/davethompsonpage" target="_blank" title="Rev Dave's Facebook">Facebook</a></li>
              <li><span class="text-muted icon icon-twitter m-r"></span> Connect on <a href="http://twitter.com/revdavethompson" target="_blank" title="Rev Dave's Twitter">Twitter</a></li>
              <li><span class="text-muted icon icon-google-play m-r"></span> Songs on <a href="https://play.google.com/store/music/album/D_a_Thompson_Disclaimer?id=Bkjlgjpday6f4k5cu6sehs6pkye" target="_blank" title="Rev Dave's Music">iTunes</a></li>
              <li><span class="text-muted icon icon-book m-r"></span> Books on <a href="http://www.amazon.com/Over-Coffee-Conversation-Partnership-Conservative/dp/0983567735/ref=sr_1_1?ie=UTF8&qid=1441824909&sr=8-1&keywords=over+coffee" target="_blank" title="Rev Dave's Books on Amazon">Amazon</a></li>
              <li><span class="text-muted icon icon-github m-r"></span> Software on <a href="https://github.com/worlduniting/" target="_blank" title="Rev Dave's Github">Github</a></li>
          </ul>

          <%= link_to button_tag("About.me", :type => "button", :class => "btn btn-primary-outline btn-sm"), "http://about.me/revdavethompson", :target => "_blank" %>
        </div>

      </div>
      <p>&nbsp;</p>

      <div class="panel panel-default panel-link-list">
      <%= link_to image_tag("world-uniting.png", 
                            :alt => "World Uniting, Intl'",
                            :class => "panel-profile-img center-block"),
          "http://about.me/revdavethompson" %>
        <div class="panel-body">
          
          © 2015 <a href="http://worlduniting.org" target="_blank">World Uniting, Intl'</a>

          <p>World Uniting’s mission is to promote peace by providing programs that facilitate empathy in order to learn how to love others whose world views may fundamentally conflict with our own.</p>
        </div>
      </div>

    </div>
  </div>
</div>

